includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
    - config
    - database
    - routes
    - tests
  level: 6 # https://phpstan.org/user-guide/rule-levels
  checkMissingIterableValueType: false
  ignoreErrors: